@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 5px 8px;
  margin: 5px 8px;
}

button,
.fa-solid {
  cursor: pointer;
}

.container-xs {
  width: 60%;
}

.container-md {
  width: 70%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-xs,
  .container-md,
  .container-lg {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-lg {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-lg {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-lg {
    width: 80%;
  }
}

.text-light {
  color: #9c8c8c;
}

.text-warning {
  color: #9b894d;
}

.text-danger {
  color: #c24848;
}

.warning-bg {
  background-color: #fff3cd;
}

.font-xs {
  font-size: 13px;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.cursor_pointer {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-basis div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.vertical-menu {
  list-style: none;
  margin: 10px 20px;
}

.vertical-menu li {
  padding: 5px;
}

.vertical-menu li a {
  color: #012970;
  font-size: 15px;
}

.vertical-menu li a:hover {
  color: #4159f1;
}

.vertical-menu li i {
  margin-right: 6px;
}

.no_content_found {
  height: 300px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no_content_found div {
  text-align: center;
}

.no_content_found div i {
  font-size: 60px;
  color: #d63939;
}

.input_box {
  margin: 12px 0;
}

.input_box label {
  padding: 5px;
  color: #9c8c8c;
}

.input_box input,
.input_box textarea {
  width: 100%;
  border: none;
  background-color: #e8ebeb;
  padding: 8px;
  border-radius: 6px;
}

.input_box input:focus,
.input_box textarea:focus {
  outline: 1px solid #e2dfdf;
}

.btn_md {
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 6px;
}

.btn_xs {
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 6px;
}

.btn_success {
  background-color: #1e941e;
  color: #ffffff;
}

.btn_success:hover {
  background-color: #25bb25;
  -webkit-box-shadow: 3px 2px 3px #a9cfa9;
          box-shadow: 3px 2px 3px #a9cfa9;
}

.btn_warning {
  background-color: #f3a513;
  color: #ffffff;
}

.btn_warning:hover {
  background-color: #f5c160;
  -webkit-box-shadow: 3px 2px 3px #f7c873;
          box-shadow: 3px 2px 3px #f7c873;
}

.btn_danger {
  background-color: #e72828;
  color: #ffffff !important;
}

.btn_danger:hover {
  background-color: #e67c7c;
  -webkit-box-shadow: 3px 2px 3px #b63b3b;
          box-shadow: 3px 2px 3px #b63b3b;
}

.search_box {
  margin: 18px 5px;
  border-radius: 8px;
  border: 1px solid #e6e0e0;
}

.search_box div:nth-child(1) {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  border-radius: 8px 0 0 8px;
}

.search_box div:nth-child(1) form {
  width: 100%;
  border: none;
}

.search_box div:nth-child(1) form input {
  width: 100%;
  border: none;
  padding: 8px;
}

.search_box div:nth-child(1) form input:focus {
  outline: none;
}

.search_box div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #e6e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_box div:nth-child(2):hover {
  background-color: #d3d8df;
  cursor: pointer;
}

.search_box div:nth-child(2):hover font {
  color: #ffffff;
}

.search_box div:nth-child(2) font {
  color: #d3d8df;
  font-size: 16px;
}

.alert {
  padding: 4px;
  border-radius: 6px;
  margin: 3px 5px;
}

.alert div {
  overflow: auto;
}

.alert div p {
  float: left;
  font-size: 13px;
  width: 90%;
}

.alert div a {
  float: right;
  color: #2e2b2b;
  padding-right: 5px;
}

.alert div a:hover {
  color: #ffffff;
}

.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #ecb6b6;
  color: #b83d2f;
}

.alert-success {
  background-color: #d1e7dd;
  border: 1px solid #b0dac7;
  color: #57997b;
}

.alert-warning {
  background-color: #fff3cd;
  border: 1px solid #d8c998;
  color: #9b894d;
}

.textEditor {
  margin: 10px 5px;
}

.textEditor .tools {
  border: 1px solid #ebdede;
  padding: 8px;
  border-radius: 6px;
}

.textEditor .editor {
  border: 1px solid #ebdede;
  padding: 5px 15px;
  margin-top: 8px;
  height: 30vh;
  overflow: auto;
}

.textEditor .editor:focus {
  outline: none;
}

.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 600px) {
  .modal .modal-xs {
    width: 98%;
  }
}

@media only screen and (min-width: 600px) {
  .modal .modal-xs {
    width: 80%;
  }
}

@media only screen and (min-width: 900px) {
  .modal .modal-xs {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .modal .modal-xs {
    width: 40%;
  }
}

.modal .modal-section {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.modal .modal-section div {
  background-color: #ffffff;
}

.modal .modal-section div .modal-head .modal-close {
  float: right;
  background-color: #7c6363;
  border-radius: 40%;
  color: #ffffff;
}

.modal .modal-section div .modal-head .modal-close:hover {
  background-color: #cc8686;
  color: red;
}
/*# sourceMappingURL=style.css.map */